

html{
  margin: 0em;
  padding: 1em;
  background-color: white;
  font-family: "Inter","Sawarabi Gothic", Arial, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
}

 body {
  margin : 4em;
  font-size: 1.5em;
  line-height: 2em;
}
  


h3 {
  font-family: "Space Mono","Sawarabi Gothic", Arial, sans-serif;
}
  
  
@media (min-device-width:500px) and (max-device-width:768px) {
  html {
    margin: 0em;
    font-size: 32px;
  }
  
  body{
    margin: 1em;
  }
}



h1 {
  margin: 0em;
  padding: 0;
  background-color: white;
  font-size: 1.5em;
  
}


button{
  margin-right: 0.2em;
  line-height: 1.2em;
  font-family: "Space Mono", Arial, sans-serif;
  font-size: 1em;
  border-style: solid;
  border-color: royalblue;
  background-color: royalblue;
  color: white;
  border-radius: 0.2em;
  border-width: 0.1em;
  
  transition: color .2s ease, background-color .2s ease;
  text-decoration: none;

  
}
button:hover {
  color: black;
  border-style: solid;
  background-color: white;
  border-color: royalblue; 
  
}


a{
  display: flex;
  line-height: normal;
 
  padding: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  border-radius: 0.2em;
  border-width: 0.1em;

  
  text-decoration: none;
  transition: color .2s ease, border-color .2s ease, background-color .2s ease;

  justify-content: space-between; 
  width: auto;

  
}

a:hover {
  transform:  translateY(-0.2em);
  box-shadow:  0 0.2em rgba(0,0,0,0.2);
  
}

input{
  font-family: inherit;
  font-size: 1em;
  border:.1em solid cornflowerblue;
  border-radius: 0.2em;

  
}

input[type = "number"] {

  width: 10em;
  
}

input[type = "checkbox"] {

  height: 0.75em;
  width: 0.75em;
  
}

input[type = "radio"] {

  height: 0.75em;
  width: 0.75em;
  
}

input:disabled{
  appearance: textfield;
}

input.error {
  border: .1em solid red;
}

.container.menu {
  display: grid;
  grid-template-columns: auto auto ;
  grid-column-gap: 1em;

  line-height: 0.5em;
 
  
  

}
.container.menu > div {
  padding: 1em;
  text-align: left;
  border: 0.1em solid black;
  border-radius: 0.2em;
  box-shadow:  0 0.2em cornflowerblue;
 
}

.container.report {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1em;
  

}

@media (min-device-width:500px) and (max-device-width:768px) {
  .container.report {
    font-size: 0.75em;
  }
  

}
.container.report > div {

  text-align: left;
  border-bottom: 0.08em solid rgba(0,0,0,0.2);
}

footer{
  font-size: 0.75em;
  font-weight: 500;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 100%;
  color: black;
  text-shadow: 0.1em 0em 0 white;
  text-align: right;
}

